<hr> <!-- Horizontal rule -->

<!-- Create Goal Form -->
<h2 class="create-goal-title">CREATE A NEW GOAL</h2>
<form (submit)="createGoal()">
  <label for="name">Name:</label>
  <input type="text" id="name" [(ngModel)]="goalName" name="name" required> <!-- Input field for goal name -->

  <label for="codingLanguage">Coding Language:</label>
  <input type="text" id="codingLanguage" [(ngModel)]="goalCodingLanguage" name="codingLanguage" required> <!-- Input field for coding language -->

  <label for="age">Age:</label>
  <input type="number" id="age" [(ngModel)]="goalAge" name="age" required> <!-- Input field for age -->

  <label for="goal">Goal:</label>
  <textarea id="goal" [(ngModel)]="goalContent" name="goal" required></textarea> <!-- Textarea for goal content -->

  <button type="submit" [disabled]="addingGoal">
    <span *ngIf="addingGoal" class="spinner"></span>
    <span *ngIf="!addingGoal">Create Goal</span>
  </button>
</form>

<!-- Display loading spinner -->
<div class="loading-spinner" *ngIf="addingGoal">
  <div class="spinner"></div>
  <p>Adding Goal...</p>
</div>

<!-- Display success message -->
<div *ngIf="goalAdded && !addingGoal" class="success-message">
  <p>GOAL SUCCESSFULLY ADDED!</p>
</div>

<!-- Display error message -->
<div *ngIf="errorMessage && !addingGoal" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

<!-- View All Goals Button -->
<button class= "button-view-goals" (click)="onViewAllGoals()">View Goals</button> <!-- Button to trigger the onViewAllGoals() method -->


<!-- Display Goals -->
<div *ngIf="goals">
  <h1 class="goal-list-title">Goal List</h1>
  <ul>
    <li *ngFor="let goal of goals" class="goal-list-item">
      <p>Id: {{ goal.id }}</p> <!-- Display the goal ID -->
      <p>Name: {{ goal.name }}</p> <!-- Display the goal name -->
      <p>Goal: {{ goal.goal }}</p> <!-- Display the goal content -->
      <p>Age: {{ goal.age }}</p> <!-- Display the goal age -->
      <p>Coding Language: {{ goal.codingLanguage }}</p> <!-- Display the goal coding language -->
    </li>
  </ul>
</div>


<!-- Test PUSH 1 -->