<hr> <!-- Horizontal rule -->

<!-- Create Goal Form -->
<h2 class="create-goal-title">CREATE A NEW GOAL</h2>
<form (submit)="createGoal()">
  <label for="name">Name:</label>
  <input type="text" id="name" [(ngModel)]="goalName" name="name" required> <!-- Input field for goal name -->

  <label for="codingLanguage">Coding Language:</label>
  <input type="text" id="codingLanguage" [(ngModel)]="goalCodingLanguage" name="codingLanguage" required> <!-- Input field for coding language -->

  <label for="age">Age:</label>
  <input type="number" id="age" [(ngModel)]="goalAge" name="age" required> <!-- Input field for age -->

  <label for="goal">Goal:</label>
  <textarea id="goal" [(ngModel)]="goalContent" name="goal" required></textarea> <!-- Textarea for goal content -->

  <button type="submit" [disabled]="addingGoal">
    <span *ngIf="addingGoal" class="spinner"></span>
    <span *ngIf="!addingGoal">Create Goal</span>
  </button>
</form>

<!-- Display loading spinner -->
<div class="loading-spinner" *ngIf="addingGoal">
  <div class="spinner"></div>
  <p>Adding Goal...</p>
</div>

<!-- Display success message -->
<div *ngIf="goalAdded && !addingGoal" class="success-message">
  <p>GOAL SUCCESSFULLY ADDED!</p>
</div>

<!-- Display error message -->
<div *ngIf="errorMessageCreate && !addingGoal" class="error-message">
  <p>{{ errorMessageCreate }}</p>
</div>

<!--------------------- Update Goal Form -------------------------------------->
<h2 class="create-goal-title">UPDATE A GOAL</h2>

<form (ngSubmit)="UpdateGoal()">
  <label for="id">ID</label>
  <input type="text" id="id" [(ngModel)]="idToUpdate" name="idToUpdate" required>

  <label for="name">Name:</label>
  <input type="text" id="name" [(ngModel)]="goalName" name="name" required>

  <label for="codingLanguage">Coding Language:</label>
  <input type="text" id="codingLanguage" [(ngModel)]="goalCodingLanguage" name="codingLanguage" required>

  <label for="age">Age:</label>
  <input type="number" id="age" [(ngModel)]="goalAge" name="age" required>

  <label for="goal">Goal:</label>
  <textarea id="goal" [(ngModel)]="goalContent" name="goal" required></textarea>

  <button type="submit" [disabled]="updatingGoal">
    <span *ngIf="updatingGoal" class="spinner"></span>
    <span *ngIf="!updatingGoal">Update Goal</span>
  </button>
</form>

<!-- Display loading spinner -->
<div class="loading-spinner" *ngIf="updatingGoal">
  <div class="spinner"></div>
  <p>Updating Goal...</p>
</div>

<!-- Display success message -->
<div *ngIf="goalUpdated && !updatingGoal" class="success-message">
  <p>GOAL SUCCESSFULLY Updated!</p>
</div>

<!-- Display error message -->
<div *ngIf="MessageUpdateGoal && !updatingGoal" class="error-message">
  <p>{{ MessageUpdateGoal }}</p>
</div>

<!-------------- Display Delete Goal by ID Form -------------------->
<form (submit)="DeleteGoal()">
  <h2 style="color: black;">DELETE A GOAL BY ID</h2>
  <label for="id">ENTER THE ID:</label> <!-- Label for the input field -->
  <input type="text" id="id" [(ngModel)]="idToDelete" name="idToDelete" required> <!-- Input field to enter the ID, with two-way data binding using ngModel -->
  <button class="delete-goals-button" (click)="DeleteGoal()">Delete Goal</button> <!-- Button to trigger the DeleteGoal() method when clicked -->

  <!-- Display loading spinner -->
  <div class="loading-spinner" *ngIf="deletingGoal">
    <div class="spinner"></div>
    <p>Deleting Goal...</p>
  </div>

  <div *ngIf="GoalDeleted && !deletingGoal">GOAL SUCCESSFULLY DELETED!</div> <!-- Show success message if deletedGoal is true -->

  <div *ngIf="errorMessageDelete">{{ errorMessageDelete }}</div> <!-- Show error message if it is not empty -->
</form>

<!--------------------Display Delete Goals Form -------------------->

<!------------------ DELETE ALL GOALS BUTTON ----------------------------->
<button class="delete-all-goals-button" (click)="confirmDeleteAllGoals()">DELETE ALL GOALS</button>

<div *ngIf="showConfirmationModal">
  <h3>Confirm</h3>
  <p>Are you sure you want to delete all goals? This action cannot be undone.</p>
  <button (click)="deleteAllGoals()">Yes</button>
  <button (click)="cancelDeleteAllGoals()">No</button>
</div>

<div *ngIf="allGoalsDeleted || cancelDeleteAllGoals">
  <p>{{ confirmMessageDeleteAll }}</p>
</div>

<div *ngIf="errorMessageDeleteAll">
  <p>{{ errorMessageDeleteAll }}</p>
</div>


<!------------------ DELETE ALL GOALS BUTTON ----------------------------->



<!------------------------ View All Goals Button ------------------------->
<button class= "button-view-goals" (click)="onViewAllGoals()">View Goals</button> <!-- Button to trigger the onViewAllGoals() method -->
<!------------------------ View All Goals Button ------------------------->


<!----------------------- Display All Goals -------------------------------->
<div *ngIf="goals">
  <h1 class="goal-list-title">Goal List</h1>
  <ul>
    <li *ngFor="let goal of goals" class="goal-list-item">
      <p>Id: {{ goal.id }}</p> <!-- Display the goal ID -->
      <p>Name: {{ goal.name }}</p> <!-- Display the goal name -->
      <p>Goal: {{ goal.goal }}</p> <!-- Display the goal content -->
      <p>Age: {{ goal.age }}</p> <!-- Display the goal age -->
      <p>Coding Language: {{ goal.codingLanguage }}</p> <!-- Display the goal coding language -->
    </li>
  </ul>
</div>

<!-- If No Goals in database, Print the below text -->
<div *ngIf="!goals">
  <p class="no-goals-message">NO GOALS IN DATABASE. PLEASE ADD SOME GOALS AND TRY AGAIN!</p>
</div>
