<!-- Everything displayed on our app should be added here! -->
<div class="navbar">
  <div class="site-name">
    <h2>E-Learning Course</h2>
  </div>
  <div class="site-menu">
    <a href="">HOME</a>
    <a href="about/">ABOUT</a>
    <a href="contact/">CONTACT</a>
    <a href="courses/">COURSES</a>
    <a href="pricing/">PRICING</a>
    <a href="goals/">GOALS</a>
  </div>
</div>
<div class="component-container">
  <!-- <app-home></app-home>
  <app-about></app-about>
  <app-contact></app-contact>
  <app-courses></app-courses>
  <app-pricing></app-pricing>  -->
  <!-- <app-goals></app-goals> -->
  <router-outlet></router-outlet>
</div>