<div class="navbar">
  <div class="site-name">
    <h2>E-Learning Course</h2>
  </div>
  <div class="site-menu">
    <a href="">HOME</a>
    <a href="about/">ABOUT</a>
    <a href="contact/">CONTACT</a>
    <div class="dropdown">
      <button class="dropbtn">GOALS</button>
      <div class="dropdown-content">
        <a href="goals/view">View Goals</a>
        <a href="goals/create">Create Goal</a>
        <a href="goals/update">Update Goal</a>
        <a href="goals/delete">Delete Goal</a>


      </div>
    </div>
    <a href="pricing/">PRICING</a>
  </div>
</div>
<div class="component-container">
  <router-outlet></router-outlet>
</div>
